body {
    background: #B1A98C;
    background: linear-gradient(270deg, #B1A98C, #4C8FA4);
}

p {
    color: #2C3531;
}

h1,
h2 {
    color: #2C3531;
    text-align: center;
}

.block {
    margin: 50px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 232, 226, 0.8);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
}

.block label {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.block input[type="text"],
.block input[type="submit"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1.1em;
    box-sizing: border-box;
}

button {
    background-color: #0A5F38;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
}