body {
    background: #B1A98C;
    background: linear-gradient(270deg, #B1A98C, #4C8FA4);
}

p {
    color: #2C3531;
}

h1,
h2 {
    color: #2C3531;
    text-align: center;
}
.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
text-decoration: none;
}

.btn {
    background-color: #116466;
    color: #D1E8E2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

.btn:hover {
    background-color: #2C3531;
    color: #D1E8E2;
}

.gallery {
       display: flex;
       gap: 4px;
       align-items: center;
       margin-top: 50px;
     }

     .card {
       position: relative;
       left: 0px;
       width: 80px;
       border-radius: 4px;
       padding: 8px;
       height: 160px;
       background-color: white;
       transition: 0.4s ease-in-out;
       flex: 1px;
     }

     .card:nth-child(1) {
       background-color: #008B8B;
     }

     .card:nth-child(2) {
       background-color: #7BA591;
     }

     .card:nth-child(3) {
       background-color: #E4717A;
     }

     .card:nth-child(4) {
       background-color: #F15B4C;
     }

     .card:nth-child(5) {
       background-color: #FAA41B;
     }

     .card:nth-child(6) {
       background-color: #FFD45D;
     }


     .card:nth-child(7) {
       background-color: #DCD0FF;
     }

     .card:nth-child(8) {
       background-color:  #7FC7FF;
     }

     .card:hover {
       flex: 3;
       font-weight: bold;
       cursor: pointer;
     }