<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style_profile.css">
    <script src="/static/script.js"></script>
    <title>Панель управления администратора</title>
</head>
<body>
<h1 style="margin-top: 150px;">Панель управления администратора</h1>
<div class="gallery">
    <div class="card" onclick="goToByers()">
        <h2>Покупатели</h2>
        <p>Ифнормация и контактные данные всех клиентов</p>
    </div>
    <div class="card" onclick="goToDescriptions()">
        <h2>Описания товаров</h2>
        <p>Информация о размерах и материалах товаров</p>
    </div>
    <div class="card" onclick="goToOrders()">
        <h2>Заказы</h2>
        <p>Информация о реализации товаров и оплате</p>
    </div>
    <div class="card" onclick="goToProviders()">
        <h2>Поставщики</h2>
        <p>Информация и контактные данные поставщиков</p>
    </div>
    <div class="card" onclick="goToProducts()">
        <h2>Товары</h2>
        <p>Информация о продуктах на складе</p>
    </div>
    <div class="card" onclick="goToSales()">
        <h2>Учёт продаж</h2>
        <p>Информация и продажах</p>
    </div>
</div>
</body>
</html>