<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Покупатели</title>
</head>
<body>
<h1>Покупатели</h1>
<table>
    <tr>
        <th>Код покупателя</th>
        <th>ФИО</th>
        <th>Организация</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th style="background-color: #0A5F38; color: #f5f5f5; text-align: center;" colspan="2">
            <a href="{{ url_for('get_buyer_form') }}" style="text-decoration: none; color: #f5f5f5;">Добавить</a>
        </th>
    </tr>
    {% for e in lst %}
    <tr>
        <td>{{e.id}}</td>
        <td>{{e.full_name}}</td>
        <td>{{e.organization_name}}</td>
        <td>{{e.phone_number}}</td>
        <td>{{e.address}}</td>
        <td style="background-color: #003153; color: #f5f5f5;  text-align: center;">
            <a href="{{ url_for('get_buyer', id=e.id) }}" style="text-decoration: none; color: #f5f5f5;">Изменить</a>
        </td>
        <td style="background-color: #5E2129; color: #f5f5f5; text-align: center;">
            <button onclick="deleteBuyer({{ e.id }})" style="width: 100%; background-color: #5E2129;
        color: #f5f5f5; border: none;">Удалить</button>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
<script>
    async function deleteBuyer(buyerId) {
      if (!confirm("Вы уверены, что хотите удалить покупателя?")) return;

      try {
        const response = await fetch(`/buyers/${buyerId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (!response.ok) {
          const errorData = await response.json();
          const errorMessage = errorData.detail || `Error deleting buyer: ${response.status}`;
          alert(errorMessage);
          return;
        }

        location.reload();

      } catch (error) {
        console.error('Error:', error);
        alert('An unexpected error occurred.');
      }
    }
</script>
</html>