<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <title>Добавить</title>
</head>
<body>

<h1>Добавить Описание</h1>
<div class="block">
    <form id="descriptionForm">
        <label for="furniture_type">Тип мебели:</label>
        <input type="text" name="furniture_type" id="furniture_type" required><br><br>
        <label for="material">Материал:</label>
        <input type="text" name="material" id="material" required><br><br>
        <label for="weight">Вес:</label>
        <input type="text" name="weight" id="weight" required><br><br>
        <label for="dimensions">Габариты:</label>
        <input type="text" name="dimensions" id="dimensions" required><br><br>
        <button type="button" onclick="submitForm()">Добавить</button>
    </form>
</div>
</body>
<script>
async function submitForm() {
    const formData = new FormData(document.getElementById('descriptionForm'));
    const buyerData = {};

    for (const [key, value] of formData.entries()) {
        buyerData[key] = value;
    }

    try {
        const response = await fetch('/descriptions', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(buyerData),
        });

        if (!response.ok) {
            let errorMessage = "Ошибка отправки формы";
            try {
                const errorData = await response.json();
                if (errorData.detail) {
                    errorMessage = errorData.detail;
                } else if (errorData.error){
                    errorMessage = errorData.error;
                }
            } catch (jsonError) {
                console.error("Ошибка парсинга ответа об ошибке:", jsonError);
                errorMessage = `Ошибка сервера: ${response.status}`;
            }
            alert(errorMessage);
            return;
        }

        alert('Описание добавлен успешно!');
    } catch (error) {
        console.error('Ошибка отправки формы:', error);
        alert('Произошла ошибка при добавлении описания.');
    }
}
</script>
</html>