<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Описание</title>
</head>
<body>
<div class="block">
    <h1>Описание {{ d.id }}</h1>
    <form id="updateDescrForm">
        <label for="furniture_type">Тип мебели:</label>
        <input type="text" id="furniture_type" name="furniture_type" value="{{d.furniture_type}}" required><br>
        <label for="material">Материал:</label>
        <input type="text" id="material" name="material"
               value="{{ d.material}}" required><br>
        <label for="weight">Вес:</label>
        <input type="text" id="weight" name="weight" value="{{d.weight}}" required><br>
        <label for="dimensions">Габариты:</label>
        <input type="text" id="dimensions" name="dimensions" value="{{d.dimensions}}" required><br>
        <button onclick="updateDescription({{ d.id }})">Изменить</button>
    </form>
</div>
</body>
</html>