<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Курсовая работа</title>
</head>

<body>
    <h1>Учет движения продукции на оптовом складе</h1>

    <div class="horiz">
        <div class="card">
            <h2>О проекте</h2>
            <p>Предметная область учета движения продукции на оптовом складе включает в себя процессы от приема
                товаров от поставщиков до отгрузки клиентам.
                Важными аспектами этой области являются контроль за количеством и качеством товаров,
                их складирование, учет всех операций с товарами, планирование и оптимизация запасов, а также
                своевременная и точная отгрузка клиентам.</p>
            <p>Системы учета движения продукции на складе помогают автоматизировать эти процессы и упростить работу
                персонала.
                Они предоставляют возможность отслеживать пополнение, перемещение и реализацию продукции, а также
                контролировать остатки на складе.</p>
            <p>Учет движения продукции на оптовом складе помогает оптимизировать запасы, минимизировать риски
                излишних запасов или дефицита,
                ускорять процесс обработки заказов и снижать затраты на хранение товаров.
                Также он обеспечивает точную и своевременную отчетность о состоянии складских запасов и продажах,
                что помогает руководству
                принимать обоснованные управленческие решения.</p>
        </div>
        <div class="card">
            <h2>Стек технологий</h2>
            <p>Вёрстка выполнена с помощью <span style="color: darkorange;">HTML</span> и <span
                    style="color: darkblue;">CSS</span></p>
            <p>Использовались языки программирования
                <span style="color: darkblue;">Python</span> для серверной обработки и <span
                    style="color: darkgoldenrod;">Js</span> для отправки запросов
            </p>
            <p>Фреймворки FastApi и SQLAlchemy</p>
            <p>СУБД <span style="color: darkblue;">PostgreSQL</span></p>
        </div>
    </div><br>
    <a href="/login" class="btn">Вход в систему</a>
</body>

</html>