<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cards_style.css">
    <title>Вход</title>
</head>
<body>
<div class="block">
    <h1>Вход</h1>
    <form action="/token" method="post">
        <label for="username">Роль пользователя:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" style="
        width: 300px;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 1.1em;
        box-sizing: border-box;" required><br><br>
        <button type="submit">Вход</button>
    </form>
</div>
</body>
</html>
