<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <title>Заказы</title>
</head>
<body>
<h1>Заказы</h1>
<table>
    <tr>
        <th>Код заказа</th>
        <th>Количество товара</th>
        <th>Общие затраты</th>
        <th>Код товара</th>
        <th style="background-color: #0A5F38; color: #f5f5f5; text-align: center;" colspan="2">
            <a href="{{ url_for('get_order_form') }}" style="text-decoration: none; color: #f5f5f5;">Добавить</a>
        </th>
    </tr>
    {% for e in lst %}
    <tr>
        <td>{{e.id}}</td>
        <td>{{e.product_quantity}}</td>
        <td>{{e.total_cost}}</td>
        <td>{{e.product_id}}</td>
        <td style="background-color: #003153; color: #f5f5f5;  text-align: center;">
            <a href="{{ url_for('get_order', id=e.id) }}" style="text-decoration: none; color: #f5f5f5;">Изменить</a>
        </td>
        <td style="background-color: #5E2129; color: #f5f5f5; text-align: center;">
            <button onclick="deleteOrder({{ e.id }})" style="width: 100%; background-color: #5E2129;
        color: #f5f5f5; border: none;">Удалить</button>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>