<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Добавить</title>
</head>
<body>
<h1>Добавить Заказ</h1>
<div class="block">
    <form id="orderForm">
        <label for="product_quantity">Количество товара:</label>
        <input type="text" name="product_quantity" id="product_quantity" required><br><br>
        <label for="total_cost">Общие затраты:</label>
        <input type="text" name="total_cost" id="total_cost" required><br><br>
        <label for="product_id">Код товара:</label>
        <input type="text" name="product_id" id="product_id" required><br><br>
        <button type="button" onclick="submitFormOrder()">Добавить</button>
    </form>
</div>
</body>
</html>