<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Добавить</title>
</head>
<body>

<h1>Добавить Товар</h1>
<div class="block">
    <form id="productForm">
        <label for="price">Цена:</label>
        <input type="text" name="price" id="price" required><br><br>
        <label for="stock">Количество в наличии:</label>
        <input type="text" name="stock" id="stock" required><br><br>
        <label for="provider_id">Код поставщика:</label>
        <input type="text" name="provider_id" id="provider_id" required><br><br>
        <label for="description_id">Код описания:</label>
        <input type="text" name="description_id" id="description_id" required><br><br>
        <button type="button" onclick="submitFormProduct()">Добавить</button>
    </form>
</div>
</body>
</html>