<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Товар</title>
</head>
<body>
<div class="block">
    <h1>Товар {{ pr.id }}</h1>

    <form id="updateProductForm">
        <label for="price">Цена продажи:</label>
        <input type="text" id="price" name="price" value="{{pr.price}}" required><br>
        <label for="count">Количество в наличии:</label>
        <input type="text" id="count" name="count"
               value="{{ pr.stock}}"><br>
        <label for="provider_id">Код поставщика:</label>
        <input type="text" id="provider_id" name="provider_id" value="{{pr.provider_id}}" required><br>
        <label for="description_id">Код описания:</label>
        <input type="text" id="description_id" name="description_id" value="{{pr.description_id}}" required><br>
        <button onclick="updateProduct({{ pr.id }})">Изменить</button>
    </form>
</div>
</body>
</html>