<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Поставщик</title>
</head>
<body>
<div class="block">
    <h1>Поставщик {{ pr.id }}</h1>

    <form id="updateProviderForm">
        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" name="full_name" value="{{pr.full_name}}" required><br>
        <label for="product_name">Наименование товара:</label>
        <input type="text" id="product_name" name="product_name"
               value="{{ pr.product_name}}"><br>
        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{pr.phone_number}}" required><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{pr.email}}" required><br>
        <button onclick="updateProvider({{ pr.id }})">Изменить</button>
    </form>
</div>
</body>
</html>