<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/storekeeper_tables.css">
    <title>Продажи</title>
</head>
<body>
<h1>Продажи</h1>
<table>
    <tr>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Кол-во</th>
        <th>Адрес покупателя</th>
        <th>Номер телефона покупателя</th>

    </tr>
    {% for e in lst %}
    <tr>
        <td>{{e.date}}</td>
        <td>{{e.total_cost}}</td>
        <td>{{e.product_quantity}}</td>
        <td>{{e.address}}</td>
        <td>{{e.phone_number}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>