<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cards_style.css">
    <script src="/static/script.js"></script>
    <title>Продажа</title>
</head>
<body>
<div class="block">
    <h1>Продажа {{ sale.id }}</h1>

    <form id="updateSaleForm">
        <label for="date">Дата:</label>
        <input type="text" id="date" name="date" value="{{sale.date}}" required><br>
        <label for="order_id">Код заказа:</label>
        <input type="text" id="order_id" name="order_id"
               value="{{ sale.order_id}}"><br>
        <label for="buyer_id">Код покупателя:</label>
        <input type="text" id="buyer_id" name="buyer_id" value="{{sale.buyer_id}}" required><br>
        <button onclick="updateSale({{ sale.id }})">Изменить</button>
    </form>
</div>
</body>
</html>