<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/storekeeper_tables.css">
    <title>Продажи</title>
</head>
<body>
<h1>Продажи</h1>
<table>
    <tr>
        <th>Цена</th>
        <th>Количество</th>
        <th>Код заказа</th>
        <th>Дата</th>

    </tr>
    {% for e in lst %}
    <tr>
        <td>{{e.price}}</td>
        <td>{{e.count}}</td>
        <td>{{e.order_id}}</td>
        <td>{{e.date}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>