<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style_profile.css">
    <script src="/static/script.js"></script>
    <title>Панель кладовщика</title>
</head>
<body>
<h1 style="margin-top: 150px;">Панель кладовщика</h1>
<div class="gallery">
    <div class="card" onclick="goToProductsInfo()">
        <h2>Товары</h2>
        <p>Информация о товарах и описаниях</p>
    </div>
    <div class="card" onclick="goToSalesInfo()">
        <h2>Учет продаж</h2>
        <p>Информация о реализациях и товарах</p>
    </div>
    <div class="card" onclick="goToBuyersInfo()">
        <h2>Покупатели</h2>
        <p>Информация о покупателях и товарах</p>
    </div>
    <div class="card" onclick="goToOrdersInfo()">
        <h2>Заказы</h2>
        <p>Информация о заказах, товарах и их поставщиках</p>
    </div>
    <div class="card" onclick="goToOrderForm()">
        <h2>Заказы</h2>
        <p>Добавить заказ</p>
    </div>
    <div class="card" onclick="goToProductForm()">
        <h2>Товары</h2>
        <p>Добавить товар</p>
    </div>
    <div class="card" onclick="goToEditForm()">
        <h2>Товары</h2>
        <p>Обновить информацию о товаре</p>
    </div>
    <div class="card" onclick="goToSaleForm()">
        <h2>Продажи</h2>
        <p>Добавить продажу</p>
    </div>
</div>
</body>
</html>