<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style_profile.css">
    <script src="/static/script.js"></script>
    <title>Панель кладовщика</title>
</head>
<body>
<h1 style="margin-top: 150px;">Панель кладовщика</h1>
<div class="gallery">
    <div class="card" onclick="goToProductsInfo()">
        <h2>Товары</h2>
        <p>Информация о товарах с описаниями</p>
    </div>
    <div class="card" onclick="goToSalesInfo()">
        <h2>Учет продаж</h2>
        <p>Информация о клиента, заказах и продажах</p>
    </div>
    <div class="card" onclick="goToStocksInfo()">
        <h2>Учет поставок</h2>
        <p>Информация о поступления и поставщиках</p>
    </div>
    <div class="card" onclick="goToOrdersInfo()">
        <h2>Заказы</h2>
        <p>Информация о заказах</p>
    </div>
    <div class="card" onclick="goToProvidersInfo()">
        <h2>Поставщики</h2>
        <p>Информация о поставщиках</p>
    </div>
</div>
<div class="gallery">
    <div class="card" onclick="goToBuyerForm()">
        <h2>Покупатели</h2>
        <p>Добавить покупателя</p>
    </div>
    <div class="card" onclick="goToSaleForm()">
        <h2>Продажи</h2>
        <p>Добавить продажу</p>
    </div>
    <div class="card" onclick="goToStockForm()">
        <h2>Поставки</h2>
        <p>Добавить поставку</p>
    </div>
    <div class="card" onclick="goToOrderForm()">
        <h2>Заказы</h2>
        <p>Добавить заказ</p>
    </div>
    <div class="card" onclick="goToEditForm()">
        <h2>Товары</h2>
        <p>Обновить кол-во товаров</p>
    </div>
</div>
</body>
</html>