<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/storekeeper_form.css">
    <script src="/static/script.js"></script>
    <title>Товар</title>
</head>
<body>
<div class="block">
    <h1>Обновить информацию о товаре</h1>
    <form id="updateProductForm">
        <label for="id">Код товара:</label>
        <input type="text" id="id" name="id" value="" required><br>
        <label for="price">Цена продажи:</label>
        <input type="text" id="price" name="price" value="" ><br>
        <label for="count">Количество:</label>
        <input type="text" id="count" name="count" value=""><br>
        <label for="order_id">Код поставщика:</label>
        <input type="text" id="order_id" name="order_id" value="" ><br>
        <label for="description_id">Код описания:</label>
        <input type="text" id="description_id" name="description_id" value="" ><br>
        <button onclick="updateProductByStorekeeper()">Изменить</button>
    </form>
</div>
</body>
</html>