<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/storekeeper_form.css">
    <title>Товар</title>
</head>
<body>
<div class="block">
    <h1>Обновить информацию о товаре</h1>
    <form id="updateProductForm">
        <label for="id">Код товара:</label>
        <input type="text" id="id" name="id" value="" required><br>
        <label for="price">Цена продажи:</label>
        <input type="text" id="price" name="price" value="" ><br>
        <label for="count">Количество:</label>
        <input type="text" id="count" name="count" value=""><br>
        <label for="order_id">Код поставщика:</label>
        <input type="text" id="order_id" name="order_id" value="" ><br>
        <label for="description_id">Код описания:</label>
        <input type="text" id="description_id" name="description_id" value="" ><br>
        <button onclick="updateProduct()">Изменить</button>
    </form>
</div>
</body>
<script>
async function updateProduct() {
    const formData = new FormData(document.getElementById('updateProductForm'));

    const productData = {
    id: parseInt(formData.get('id')),
    price: formData.get('price') ? parseFloat(formData.get('price')) : null,
    count: formData.get('count') ? parseInt(formData.get('count')) : null,
    order_id: formData.get('order_id') ? parseInt(formData.get('order_id')) : null,
    description_id: formData.get('description_id') ? parseInt(formData.get('description_id')) : null,
};

    try {
        const response = await fetch(`/storekeeper/products`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(productData),
        });

    } catch (error) {
        console.error('Ошибка обновления данных товара:', error);
        alert('Произошла ошибка при обновлении данных товара.');
    }
}
</script>
</html>